ul{
    font-family: Agbalumo ; sans-serif; 
  }
  .fond{
    background-color: beige;
    background-size: cover;
  }
  .title{
    font-size: 36px;
    color: brown;
  }
 

  .display:flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  }
.carte{
    border: 2px solid black;
    width: 350px ;
    padding: 15px;
    margin: 20px ;
    height: 100%;
    background-color: beige;
    
}
.bande1{
    width: 300px; 
    background-color: rgba(113, 255, 113, 0.993);
    background-size: cover;
    height: 200px;
}
.bande2{
    border: 2px solid gray; 
    text-align: center;
    width: 300px;
    padding: 5px;
    margin: 20px ;
}

